In [41]:
import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [42]:
df = pd.read_csv("lyricsclean.csv")
df = df.dropna()
df.drop(['Unnamed: 0'], inplace = True, axis = 1)

In [43]:
df['Lyric'] = df['Lyric'].str.lower()
df.head()

          Artist Genre                                              Lyric
0  10000 Maniacs  Rock  i could feel at the time. there was no way of ...
1  10000 Maniacs  Rock  [ music: dennis drew/lyric: natalie merchant ]...
2  10000 Maniacs  Rock  for whom do the bells toll. when sentenced to ...
3  10000 Maniacs  Rock  jenny. jenny you don't know the nights i hide....
4  10000 Maniacs  Rock  "the legs of maddox kitchen tables. my whole l...

In [44]:
stop = stopwords.words('english')
df['Lyric'] = df['Lyric'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [45]:
df.head()

          Artist Genre                                              Lyric
0  10000 Maniacs  Rock  could feel time. way knowing. fallen leaves ni...
1  10000 Maniacs  Rock  [ music: dennis drew/lyric: natalie merchant ]...
2  10000 Maniacs  Rock  bells toll. sentenced die. stuttering rifles. ...
3  10000 Maniacs  Rock  jenny. jenny know nights hide. second story ro...
4  10000 Maniacs  Rock  "the legs maddox kitchen tables. whole life tw...

In [46]:
df["Lyric"] = df['Lyric'].str.replace('[^\w\s].',' ')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [47]:
df.head()

          Artist Genre                                              Lyric
0  10000 Maniacs  Rock  could feel time way knowing fallen leaves nigh...
1  10000 Maniacs  Rock   music dennis drew yric natalie merchant    sc...
2  10000 Maniacs  Rock  bells toll sentenced die stuttering rifles sti...
3  10000 Maniacs  Rock  jenny jenny know nights hide second story room...
4  10000 Maniacs  Rock   he legs maddox kitchen tables whole life twis...

In [48]:
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatize_text(Lyric):
    return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(Lyric)]

df = pd.DataFrame(['this was cheesy', 'she likes these books', 'wow this is great'], columns=['Lyric'])
df['Lyric'] = df.Lyric.apply(lemmatize_text)

In [49]:
df.head()

                      Lyric
0        [this, wa, cheesy]
1  [she, like, these, book]
2    [wow, this, is, great]